@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: #fe7f00;
  background: linear-gradient(129deg, rgb(254, 127, 0) 0%, rgb(247, 189, 1) 77%, rgb(240, 250, 1) 100%);
}

body {
  background-color: #f7f7f7;
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
}
header .escudo {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
}
header .escudo .shield {
  margin: 1px;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.fondo {
  min-height: 72vh;
  background-image: url("../multimedia/imagenes/CAMPEONES.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fondo h1 {
  text-align: center;
  color: white;
  font-size: calc(1rem + 7vw);
  font-family: "Cinzel", serif;
  text-shadow: 2px 2px 2px #000000;
}
.fondo h1::-moz-selection {
  background-color: rgba(0, 0, 0, 0.5568627451);
  color: white;
}
.fondo h1::selection {
  background-color: rgba(0, 0, 0, 0.5568627451);
  color: white;
}

.partidos {
  grid-template-columns: 1fr 1fr;
}
.partidos .fecha {
  padding: 1px;
  text-shadow: 4px 2px 3px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.partidos .fecha1 {
  color: rgb(255, 255, 255);
  background: #f96a03;
  background: linear-gradient(90deg, #f96a03 50%, rgb(0, 0, 0) 100%);
  font-size: 40px;
  text-align: center;
}
.partidos .fecha2 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  text-shadow: 3px 1px 1px #f96a03;
}

.Cajita p::-moz-selection {
  background: orangered;
  color: #000000;
}

.Cajita p::selection {
  background: orangered;
  color: #000000;
}

.fecha1 p::-moz-selection {
  background: rgb(255, 255, 255);
  color: #000000;
  text-shadow: 3px 1px 1px #f96a03;
}

.fecha1 p::selection {
  background: rgb(255, 255, 255);
  color: #000000;
  text-shadow: 3px 1px 1px #f96a03;
}

.fecha2 p::-moz-selection {
  background: orangered;
  color: white;
  text-shadow: 3px 1px 1px rgb(0, 0, 0);
}

.fecha2 p::selection {
  background: orangered;
  color: white;
  text-shadow: 3px 1px 1px rgb(0, 0, 0);
}

.ventas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: 30px;
  margin-bottom: 70px;
  gap: 60px;
}
.ventas .shop1 {
  display: flex;
  flex-direction: column;
  background: rgb(255, 109, 4);
  background: linear-gradient(130deg, rgb(255, 109, 4) 0%, rgb(247, 189, 1) 84%, rgb(240, 250, 1) 100%);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  justify-content: center;
  align-items: center;
}
.ventas .shop1 img {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
.ventas .shop1 h2 {
  font-family: "Cinzel", serif;
  font-size: 25px;
  text-align: center;
}
.ventas .shop1 p {
  font-family: "Cinzel", serif;
  font-size: 30px;
  margin: 10px;
}
.ventas .rebaja {
  color: red;
  text-decoration: line-through;
}
.ventas .botoncito {
  font-size: 30px;
  width: 10rem;
  border-radius: 30px;
  border: 5px;
  background: rgb(94, 9, 250);
  background: linear-gradient(87deg, rgb(94, 9, 250) 0%, rgb(177, 5, 216) 68%, rgb(250, 1, 186) 100%);
  margin-bottom: 10px;
}
.ventas .shop1:hover {
  background: rgb(215, 160, 3);
  background: linear-gradient(180deg, rgb(215, 160, 3) 0%, rgb(253, 104, 29) 22%, rgb(0, 0, 0) 61%);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 10px 15px 5px;
  transform: scale(1.1) translateY(1rem);
}

.contenedorr {
  display: grid;
  grid-template-columns: repeat 1, 3fr;
  grid-template-rows: 1fr;
  margin: 30px;
  gap: 30px;
}
.contenedorr .cajja1 {
  display: flex;
  background: #ff6d04;
  background: linear-gradient(130deg, rgb(255, 109, 4) 0%, rgb(247, 189, 1) 84%, rgb(240, 250, 1) 100%);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  justify-content: center;
  align-items: center;
}
.contenedorr .cajja1 img {
  border-radius: 30px;
  padding: 20px;
  max-width: 100%;
}
.contenedorr .pe-3::-moz-selection {
  background-color: black;
  color: white;
}
.contenedorr .pe-3::selection {
  background-color: black;
  color: white;
}

.cajja1:hover {
  background: rgb(215, 160, 3);
  background: linear-gradient(180deg, rgb(215, 160, 3) 0%, rgb(253, 104, 29) 22%, rgb(0, 0, 0) 61%);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 10px 15px 5px;
}

.fraternos {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.fraternos .cajjasiamo {
  display: flex;
  color: white;
  padding: 30px;
  gap: 20px;
  background: rgb(5, 0, 0);
  background: linear-gradient(144deg, rgb(5, 0, 0) 0%, rgb(125, 52, 2) 44%, rgb(255, 109, 4) 100%);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  justify-content: center;
  align-items: center;
}
.fraternos img {
  width: 18rem;
}
.fraternos .cajjaspartacus {
  display: flex;
  color: white;
  padding: 15px;
  gap: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(144deg, rgb(0, 0, 0) 0%, rgb(125, 0, 0) 54%, rgb(255, 0, 0) 100%);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  justify-content: center;
  align-items: center;
}
.fraternos img {
  width: 18rem;
}
.fraternos p::-moz-selection {
  background-color: black;
  color: white;
}
.fraternos p::selection {
  background-color: black;
  color: white;
}

@media (max-width: 500px) {
  .fondo h1 {
    font-size: calc(1.375rem + 5.5vw);
  }
}
@media (max-width: 767px) {
  .fecha1 {
    background: rgb(249, 106, 3);
  }
}
@media (max-width: 1000px) {
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .ventas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .botoncito {
    font-size: 100%;
    width: 7rem;
  }
}
@media (max-width: 767px) {
  .ventas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .ventas {
    display: flex;
    flex-direction: column;
    width: 20rem;
  }
  .botoncito {
    font-size: 100%;
    width: 7rem;
  }
}
@media (max-width: 991px) {
  .contendor {
    display: flex;
    flex-direction: column;
  }
  .cajjasiamo {
    display: flex;
    flex-direction: column;
  }
  .escudosiamo {
    width: 100%;
  }
  .escudosparta {
    width: 90%;
  }
  .cajjaspartacus {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .fraternos {
    display: flex;
    flex-direction: column;
  }
  .cajjasiamo {
    display: flex;
    flex-direction: column;
  }
  .escudosiamo {
    width: 10rem;
  }
  .escudosparta {
    width: 10rem;
  }
  .cajjaspartacus {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .contenedorr {
    display: flex;
    flex-direction: column;
  }
  .cajja1 {
    display: flex;
    flex-direction: column;
  }
  .cajja1 p {
    padding: 1rem;
    padding-top: 0rem;
  }
  img {
    width: 10rem;
  }
}
@media (max-width: 991px) {
  .contenedorr {
    display: flex;
    flex-direction: column;
  }
  .cajja1 {
    display: flex;
    flex-direction: column;
  }
  .cajja1 p {
    padding: 1rem;
  }
  img {
    width: 25rem;
  }
}
@media (max-width: 1500px) {
  .contenedorr {
    display: flex;
    flex-direction: column;
  }
  .cajja1 {
    display: flex;
    flex-direction: column;
  }
  .cajja1 p {
    padding: 1rem;
  }
  .primertitulo {
    width: 60rem;
  }
  .segundotitulo {
    width: 40rem;
  }
  .tercertitulo {
    width: 20rem;
  }
}
@media (max-width: 5000px) {
  .contenedorr {
    display: flex;
    flex-direction: column;
  }
  .cajja1 {
    display: flex;
  }
  .cajja1 p {
    padding: 1rem;
  }
  .primertitulo {
    width: 70rem;
  }
  .segundotitulo {
    width: 70rem;
  }
  .tercertitulo {
    width: 70rem;
  }
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer p {
  size: 30px;
  text-align: center;
  color: black;
}
footer a {
  font-size: 20px;
  color: black;
  padding: 5px;
}
footer a:hover {
  color: #f96a03;
}/*# sourceMappingURL=estilo.css.map */