footer {
    display: flex;
    flex-direction: column;
    text-align: center;

    p { 
        size: 30px;
        text-align: center;
        color: black;
    }
    a{
        font-size: 20px;
        color: black;
        padding: 5px;
    }
    
    a:hover{
        color:$mainColor;
    }
}