footer {
    display: flex;
    flex-direction: column;
    text-align: start;

    p { 
        size: 30px;
        text-align: center;
        color: black;
    }
    a{
        font-size: 20px;
        color: black;
    }
    a:hover{
        color:$mainColor;
        background-color: black;

    }
}