header{
    justify-content: center;
    align-items: center;
    display: flex; 

    .escudo{        
        justify-content: center;
        align-content: center;
        align-items: center;
        margin:10px;
    
    .shield{ 
    margin: 1px;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
        }       
    }
}
