.contenedorr {
    display: grid;
    grid-template-columns: repeat  (1, 3fr);
    grid-template-rows: 1fr;
    margin: 30px;
    gap: 30px;


    .cajja1{
        display: flex;
        background: rgb(255,109,4);
        background: linear-gradient(130deg, rgba(255,109,4,1) 0%, rgba(247,189,1,1) 84%, rgba(240,250,1,1) 100%);
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        justify-content: center;
        align-items: center;
    }   

    .cajja1 img{
        width: 1000px;     
        border-radius: 30px;
        padding: 20px;
    }
}

.cajja1:hover{
    background: rgb(215,160,3);
    background: linear-gradient(180deg, rgba(215,160,3,1) 0%, rgba(253,104,29,1) 22%, rgba(0,0,0,1) 61%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 10px 15px 5px;
}

