.fondo {
    min-height: 72vh;
    background-image:url("../multimedia/imagenes/CAMPEONES.jpg");
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;        

    h1 {
    text-align: center;
    color: white;
    font-size: calc(1.375rem + 9.5vw);
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 2px #000000;
}

}



