*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    nav{
        background: #fe7f00;
        background: linear-gradient(129deg, rgba(254,127,0,1) 0%, rgba(247,189,1,1) 77%, rgba(240,250,1,1) 100%);
    }

    body{
        background-color: #f7f7f7;
    }

